{% extends "base.html" %}
{% block title %}Just an Empty Home Page to Welcome you{% endblock %}
{% block content %}
<h1>This is the home page, plese select one of the options bellow</h1>
<header>
            <h1>Universal System of Scores and GPA</h1>
                <nav>
                    <ul>
                        <li>
                            <a href="student_list.html">Student list</a>
                        </li>
                        <li>
                            <a href="grades.html"> Grades</a>
                        </li>
                    </ul>
                </nav>
        </header>
{% endblock %}