{% extends "base.html" %}
{% block title %}Student List{% endblock %}
{% block content %}

<form action ="/student_list.html" method="POST">
    <p>{{applicants_num_request}}</p>
    <p><input type = "text" name="number"/></p>
    <p>{{applicants_num_approved_request}}</p>
    <p><input type = "text" name="number1"/></p>
    <p><input type = "submit" name="Submit"/></p>


{% if empty1 %}
    <p>{{empty1}}</p>
    {% endif %}
{% if continuance %}
    <p>{{continuance}}</p>
    <form action ="/student_list.html" method="POST">
    <p>{{warning10}}</p>
    <p><input type = "text" name="number7"/></p>
    <p><input type = "submit" name="Submit"/></p>
    {% endif %}
{% if warning11 %}
    <form action ="/student_list.html" method="POST">
        <p>{{warning11}}</p>
        <p><input type = "text" name="number8"/></p>
        <p>{{warning12}}</p>
        <p><input type = "text" name="number8"/></p>
        <p><input type = "submit" name="Submit"/></p>
    {% endif %}

{% if warning13 %}
    <form action ="/student_list.html" method="POST">
        <p>{{warning13}}</p>
        <p><input type = "text" name="number10"/></p>
        <p><input type = "submit" name="Submit"/></p>
    {% endif %}
{% if warning14 %}
    <p>{{warning14}}</p>
    {% endif %}

{% if warning15 %}
    <p>{{warning14}}</p>
    {% endif %}

{% if warning16 %}
    <p>{{warning16}}</p>
    {% endif %}

{% if warning17 %}
    <p>{{warning17}}</p>
    {% endif %}




{% endblock %}